<% include layout/navbar %>

<div class="row justify-content-center p-5 m-0 h-100">
    <img class=" m-3" src="img/json_logo.png" alt="logo" width="20%">
    <h1 class="w-100 text-center">Welcome to JSON DB</h1>
    <div class="col-md-4 text-center">
        <h4 class="text-muted">
            This API use a JSON file like a database
        </h4>
    </div>
</div>

<% include layout/footer %>